li a {
  /* Your CSS styles here */
  text-decoration: none; /* Remove underlines from links */
  padding: 5px; /* Add padding to the links */
  margin: 1%;
  font-family: "Inconsolata", monospace;
  font-family: "Istok Web", sans-serif; /* Change the font-family */
  width: 100%;
  /* Add more styles as needed */
}
ul.navbar {
  width: 100%;
  color: black;
  font-weight: 550;
}
li {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

li:hover {
  background-color: #4295ff;
  color: white !important;
}

.sidebar {
  width: 10vw;
  height: 90vh;
  background-color: #ffffff;
  color: rgb(69, 143, 255);
  display: flex;
  margin: 0.2vw;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #00000031;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}



  
  /* Give space between top and bottom links */
  .bottom-links {
    margin-top: auto; /* Push to the bottom */
    color: black;
    font-weight: 550;
  }