li a {
  /* Your CSS styles here */
  text-decoration: none; /* Remove underlines from links */
  padding: 5px; /* Add padding to the links */
  margin: 1%;
  font-family: "Inconsolata", monospace;
  font-family: "Istok Web", sans-serif; /* Change the font-family */
  width: 100%;
  /* Add more styles as needed */
}
ul.navbar {
  width: 100%;
  color: black;
  font-weight: 550;
}
li {
  margin: 0 2px 2px 0px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

li:hover {
  background-color: #4295ff;
  color: white !important;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
li.selected {
  background-color: #2063bb;
  color: white !important;
}

.sidebar-layout {
  display: flex;
  min-width: 100%;
  height: 89dvh;
  overflow: hidden; /* To hide scrollbars */
}

.sidebar {
  width: 10dvw;
  min-width: 200px;
  height: 88dvh;
  position: inherit;
  background-color: #ffffff;
  color: rgb(69, 143, 255);
  display: flex;
  margin: 0 0rem 0rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #00000031;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: left 0.3s ease;
}
.sidebar.open {
  left: 0;
}
/* Give space between top and bottom links */
.bottom-links {
  margin-top: auto; /* Push to the bottom */
  color: black;
  font-weight: 550;
}

.content {
  flex-grow: 1;
  height: 99%;
  width: 99%;
  background-color: white;
  box-shadow: 0 0 10px 0px #00000031;
  border-radius: 5px;
  margin: 0 0.5rem 0rem 0.5rem;
  padding: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
}

.header {
  height: 10dvh;
  min-height: 10dvh;
  background-color: #ffffff;
  color: rgb(69, 143, 255);
  display: flex;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #00000031;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding-left: 1dvw;
  font-family: "Inconsolata", monospace;
  font-family: "Inter", sans-serif;
  font-family: "Istok Web", sans-serif;
}
.hamburger {
  background-color: #ffffff00;
  color: #000000;
  border: none;
  padding: 10px 15px;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1; /* Ensures the hamburger button is above the sidebar content */
}
.title {
  padding-left: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.logo {
  max-width: 128px;
  max-height: 128px;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -250px;
    top: 10dvh;
    height: 88dvh;
  }
  .title {
    display: none;
  }
  .logo {
    /* display: none; */
    max-height: 15dvh;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Hide the hamburger button on desktop */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
