#reports-container .canvasContainer {
  display: flex !important;
  flex-wrap: wrap !important;
}

.canvasContainer > canvas {
  margin: 0.5rem;
  border-radius: 5px;
  border-width: 1px !important;
  border-color: lightgrey !important;
  max-height: 25dvw;
  max-width: 25dvw;
  box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.3);
  /* transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.2s; */
}

.popupHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

.font-1-5-rem {
  font-size: 1.5rem;
}

.display-flex {
  display: flex;
}

.font-1-2rem {
  font-size: 1.2rem;
}

.padding-0-5rem {
  padding: 0.5rem;
}

.padding-right-0-3rem {
  padding-right: 0.3rem;
}
.padding-left-0-5rem {
  padding-left: 0.5rem;
}

.justify-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.padding-0-2rem {
  padding: 0.2rem;
}

.margin-0-5rem {
  margin: 0.5rem;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.border-1px-solid-lightgrey {
  border: 1px solid lightgrey;
}

.margin-top-0-5rem {
  margin-top: 0.5rem;
}

.border-radius-0-5rem {
  border-radius: 0.5rem;
}

.canvasContainer > canvas:hover {
  transform: scale(1.05);
}

/* Style the select box */
#reports-container select {
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

/* Style the options within the select box */
#reports-container select option {
  padding: 5px;
  font-size: 16px;
}

/* Style the select box when it's hovered over */
#reports-container select:hover {
  border-color: #555;
}

/* Style the select box when it's focused */
#reports-container select:focus {
  outline: none;
  border-color: #007bff; /* Change this color to your preference */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change this shadow as needed */
}

/* Style the button */
#reports-container button {
  padding: 10px 20px; /* Adjust the padding as needed */
  background-color: #007bff; /* Change this color to your preference */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the button when it's hovered over */
#reports-container button:hover {
  background-color: #0056b3; /* Change this color to your preference */
}

/* Style the button when it's focused */
#reports-container button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change this shadow as needed */
}
