body{
    background-color: #04428e28;   
}

.header{
    height: 6vh;
    background-color: #ffffff;
    color: rgb(69, 143, 255);
    display: flex;
    margin:0.2vw;
    margin-bottom: 1vh;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #00000031;
    border:1px solid lightgrey;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 1vh;
}

.sidebar{
    width: 10vw;
    height: 91vh;
    background-color: #ffffff;
    color: rgb(69, 143, 255);
    display: flex;
    margin:0.2vw;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #00000031;

}

.content{
    position:absolute;
    top:7.5vh;
    left: 11vw;
    width: 88.5vw;
    height: 91vh;
    background-color: white;
    box-shadow: 0 0 10px 0px #00000031;
    border-radius: 5px;
}